.hero {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-wrapper {
    /* margin-left: 20vw;
    max-width: 620px; */
}

.content-big,
.content-small {
    color: white;
    letter-spacing: 1px;
    font-family: var(--global-font);
    text-align: left;
}

.content-big {
    font-size: 5em;
}
.content-small {
    margin-top: 1rem;
    line-height: 1.5em;
    color: #979797;
}
