.hero {
    height: 100vh;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-wrapper {
    animation: fadeInLeft linear 1s;
    position: relative;
}

.content-big,
.content-small {
    color: var(--text-color);
    letter-spacing: 1px;
    font-family: var(--global-font);
    text-align: left;
}

.content-big {
    font-size: 5em;
}
.content-small {
    margin-top: 1rem;
    line-height: 1.5em;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        left: -100%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
