.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  margin-top: 1em;
  z-index: 10;
}

.navbar::after {
  content: '';
  background-color: #e0fefe;
  height: 1px;
  position: absolute;
  top: 2.2em;
  width: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 10vw;
}

.navbar-links {
  color: #e0fefe;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
}

.navbar-links:hover {
  background-color: #34353a;
  padding: 1em;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(0.9turn, #030708, #34353a);
}

.container-data {
  margin-left: 10vw;
}

.header, .content {
  color: #e0fefe;
  font-size: 3.33333rem;
  max-width: 1024px;
  font-family: 'Montserrat', sans-serif;
  line-height: 57px;
}

.content {
  font-size: 2.25rem;
  margin-top: 30px;
  max-width: 870px;
}

.more-btn {
  color: #030708;
  position: relative;
  border-radius: 3px;
  border: none;
  width: 150px;
  margin-top: 30px;
  padding: 13px 23px;
  background: linear-gradient(to right, #030708 50%, #e0fefe 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease-in-out;
  font-size: 16px;
  font-weight: 400;
}

.more-btn:hover {
  background-position: left bottom;
  color: #e0fefe;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .container {
    min-width: 75%;
  }
  .header, .content {
    max-width: 75vw;
    min-width: 400px;
  }
  .side-column {
    margin-left: 20vw;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot {
  font-size: 0.83333rem;
  color: #e0fefe;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-size: 1.5rem;
}

#root {
  height: 100vh;
}
