* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    /*Colors*/
    --primary-color: #222831;
    --secondary-color: #393e46;
    --alternative-color: #fd7014;
    --accent-color: #eeeeee;
    --color-white: #fff;
    --text-color: #292929;
}
