.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    background: transparent;
    /*Out animation*/
    transition: background-color 0.3s ease-in-out;
}
.navbar.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    /*In animation*/
    transition: background-color 0.3s ease-in-out;
}
.navbar.navbar.active > li > a {
    color: white;
}
.navbar > li {
    list-style: none;
}

.navbar > li > a {
    text-decoration: none;
    padding: 2rem 2rem;
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 400;
}

.navbar > li > a:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: 3px;
}
