.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
}
.navbar.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-in-out;
    opacity: 0.8;
}
.navbar.active > li > .navlink {
    color: white;
    opacity: 1;
}

.navbar > li {
    list-style: none;
}

.navbar > li > .navlink {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.navbar > li > .navlink::before {
    transition: 300ms;
    height: 5px;
    content: '';
    position: absolute;
    background-color: #fff;
}

.navlink-animation::before {
    width: 0%;
    bottom: -8px;
}
.navlink-animation:hover::before {
    width: 100%;
}

.navbar.active > li > .navlink-animation::before {
    background-color: white;
}
