.divider {
    position: relative;
    margin: 32px 0;
    height: 400px;
    width: 100vw;
    border: 0;
    overflow: hidden;
    &.red {
        &::after {
            background-color: #e62b56;
        }
    }

    &.grey {
        &::after {
            background-color: #919396;
        }
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(-10deg);
        height: 2px;
        width: 200%;
        background-color: #425eab;
        content: '';
    }
}
