@import 'variables';
@import 'colors';

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.foot {
    font-size: $font-medium / 1.5;
    color: $accent;
    text-align: center;
}
