@import 'variables';
@import 'colors';

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 10;
    background-color: white;
}
