@import 'colors';
@import 'variables';

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(0.9turn, $primary, $secondary);
    &-data {
        margin-left: 200px;
    }
}
.header {
    color: $accent;
    font-size: $font-xxlarge / 1.5;
    max-width: 1024px;
    font-family: Lato;
    line-height: 57px;
}
.content {
    @extend .header;
    font-size: $font-large * 1.5;
    margin-top: 40px;
    max-width: 870px;
}
.abt-btn {
    height: 40px;
    width: 100px;
    border: none;
    font-size: $font-medium / 1.1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: Lato;
    &:hover {
        cursor: pointer;
    }
}
.quarter {
    width: 7.5em;
    height: 7.5em;
    border-top-right-radius: 0;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    // background: rgba(255, 0, 0, 0.1);
    position: absolute;
    right: -180px;
    bottom: 0;
    // box-shadow: 0 0 250px 600px rgb(0, 0, 180 / 15%);
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .container {
        min-width: 75%;
        // margin-left: -512px; /* 50% */
    }
    .header {
        max-width: 75vw;
        min-width: 400px;
    }
    .side-column {
        margin-left: 20vw;
    }
}
