@import 'colors';
@import 'variables';

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(0.9turn, $primary, $secondary);
    &-data {
        margin-left: 10vw;
    }
}
.header {
    color: $accent;
    font-size: $font-xxlarge / 1.5;
    max-width: 1024px;
    font-family: 'Montserrat', sans-serif;
    line-height: 57px;
}
.content {
    @extend .header;
    font-size: $font-large * 1.5;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 870px;
}
.more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    position: relative;
    border-radius: 3px;
    border: 1px solid $accent;
    width: 175px;
    padding: 13px 23px;
    background: linear-gradient(to right, $secondary 50%, $accent 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 400;
    &:active {
        transform: scale(0.99);
    }
    &:hover {
        background-position: left bottom;
        color: $accent;
        cursor: pointer;
        border: 1px solid $accent;
        .more-btn-arrow {
            transform: translateY(1px);
            transition: transform 0.01s ease-in;
        }
    }
    &-text {
        padding-right: 7px;
    }
}
@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .container {
        min-width: 75%;
        // margin-left: -512px; /* 50% */
    }
    .header {
        max-width: 75vw;
        min-width: 400px;
    }
    .side-column {
        margin-left: 20vw;
    }
}
