@import 'colors';
@import 'variables';

.container {
    position: relative;
    padding-top: 7.5em;
    margin-left: 256px;
}
.header {
    color: $accent;
    font-size: $font-xxlarge / 1.5;
    max-width: 1024px;
    font-family: Lato;

}
.abt-btn {
    height: 40px;
    width: 100px;
    border: none;
    font-size: $font-medium / 1.1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: 'Varela Round';
    &:hover {
        cursor: pointer;
    }
}
.bg {
    filter: blur(3px);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.quarter {
    width: 7.5em;
    height: 7.5em;
    border-top-right-radius: 0;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #ff000093;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 259px 141px rgba(255, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .container {
        left: -20%;
        // margin-left: -512px; /* 50% */
    }
    .header {
        max-width: 75vw;
        min-width: 400px;
    }
}
