@import 'colors';
@import 'variables';

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    margin-top: 1em;
    z-index: 10;
    &::after {
        content: '';
        background-color: $accent;
        height: 1px;
        position: absolute;
        top: 2.2em;
        width: 100%;
    }
    &-list {
        display: flex;
        align-items: center;
        list-style: none;
        padding-right: 10vw;
    }
    &-links {
        color: $accent;
        text-decoration: none;
        font-family: Lato, sans-serif;
        padding: 1em;
        &:hover {
            background-color: $secondary;
            padding: 1em;
        }
    }
}
