@import 'colors';

.nav {
    position: relative;
    width: clamp(200px, 100%, 100%);
    &-list {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    &-items {
        list-style-type: none;
        padding: 1rem;
    }
    &-links {
        color: $accent;
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        display: inline-block;
        position: relative;
        text-decoration: none;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $accent;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}
// Change layout on navbar on screen resize
// @media screen and (max-width: 768px) {
//     .nav-list {
//         flex-direction: column;
//         align-items: flex-end;
//     }
// }
