// Font sizes
$largest: 5rem;
$large: 2rem;
$normal: 1.5rem;
$small: 1.25rem;

// Font family
$main-font: 'Nunito';

// Color pallete
$primary-color: #2f2c52;
$secondary-color: #3e3b64;
$alternative-color: #5665fb;
$accent-color: #fd6c22;
$color-white: #fff;

