// Font sizes
$largest: 5rem;
$large: 2rem;
$normal: 1.5rem;
$small: 1.25rem;

// Font family
$main-font: 'Nunito';

// Color pallete
$primary-color: #222831;
$secondary-color: #393e46;
$alternative-color: #fd7014;
$accent-color: #eeeeee;
$color-white: #fff;

