@import 'colors';
@import 'navbar';
@import 'hero';
@import 'footer';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}
body {
    font-size: $font-large;
}
#root {
    height: 100vh;
}
